In [1]:
# data
import pandas as pd
import numpy as np

# visualization
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import missingno as msno

# styling
%matplotlib inline
sns.set_style('darkgrid')
matplotlib.rcParams['font.size'] = 14
matplotlib.rcParams['figure.facecolor'] = '#00000000'
matplotlib.rcParams['font.size'] = 14
matplotlib.rcParams['figure.facecolor'] = '#00000000'

import os
from wordcloud import WordCloud

# nltk
import nltk

import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("Airbnb_Open_Data.csv",error_bad_lines=False, engine="python")

In [3]:
df.head()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [4]:
df.shape

(102599, 26)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   NAME                            102349 non-null  object
 2   host id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host name                       102193 non-null  object
 5   neighbourhood group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room type                       102599 non-null  object
 14  Construction year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service fee                     102326 non-null  object
 17  minimum nights                  102190 non-null  float64
 18  number of reviews               102416 non-null  float64
 19  last review                     86706 non-null   object
 20  reviews per month               86720 non-null   float64
 21  review rate number              102273 non-null  float64
 22  calculated host listings count  102280 non-null  float64
 23  availability 365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB

In [6]:
df.dtypes

id                                  int64
NAME                               object
host id                             int64
host_identity_verified             object
host name                          object
neighbourhood group                object
neighbourhood                      object
lat                               float64
long                              float64
country                            object
country code                       object
instant_bookable                   object
cancellation_policy                object
room type                          object
Construction year                 float64
price                              object
service fee                        object
minimum nights                    float64
number of reviews                 float64
last review                        object
reviews per month                 float64
review rate number                float64
calculated host listings count    float64
availability 365                  float64
house_rules                        object
license                            object
dtype: object

In [7]:
df.describe()

,id,host id,lat,long,Construction year,minimum nights,number of reviews,reviews per month,review rate number,calculated host listings count,availability 365
count,1.025990e+05,1.025990e+05,102591.000000,102591.000000,102385.000000,102190.000000,102416.000000,86720.000000,102273.000000,102280.000000,102151.000000
mean,2.914623e+07,4.925411e+10,40.728094,-73.949644,2012.487464,8.135845,27.483743,1.374022,3.279106,7.936605,141.133254
std,1.625751e+07,2.853900e+10,0.055857,0.049521,5.765556,30.553781,49.508954,1.746621,1.284657,32.218780,135.435024
min,1.001254e+06,1.236005e+08,40.499790,-74.249840,2003.000000,-1223.000000,0.000000,0.010000,1.000000,1.000000,-10.000000
25%,1.508581e+07,2.458333e+10,40.688740,-73.982580,2007.000000,2.000000,1.000000,0.220000,2.000000,1.000000,3.000000
50%,2.913660e+07,4.911774e+10,40.722290,-73.954440,2012.000000,3.000000,7.000000,0.740000,3.000000,1.000000,96.000000
75%,4.320120e+07,7.399650e+10,40.762760,-73.932350,2017.000000,5.000000,30.000000,2.000000,4.000000,2.000000,269.000000
max,5.736742e+07,9.876313e+10,40.916970,-73.705220,2022.000000,5645.000000,1024.000000,90.000000,5.000000,332.000000,3677.000000

In [8]:
# To Check total number of Nulls value
df.isna().sum().sort_values(ascending= False)

license                           102597
house_rules                        52131
last review                        15893
reviews per month                  15879
country                              532
availability 365                     448
minimum nights                       409
host name                            406
review rate number                   326
calculated host listings count       319
host_identity_verified               289
service fee                          273
NAME                                 250
price                                247
Construction year                    214
number of reviews                    183
country code                         131
instant_bookable                     105
cancellation_policy                   76
neighbourhood group                   29
neighbourhood                         16
long                                   8
lat                                    8
id                                     0
host id                                0
room type                              0
dtype: int64

In [9]:
df.corr().abs()

,id,host id,lat,long,Construction year,minimum nights,number of reviews,reviews per month,review rate number,calculated host listings count,availability 365
id,1.000000,0.000830,0.008832,0.042546,0.001081,0.005668,0.041530,0.038038,0.036633,0.024296,0.139226
host id,0.000830,1.000000,0.000661,0.008999,0.004871,0.002266,0.004503,0.001746,0.003459,0.001722,0.002044
lat,0.008832,0.000661,1.000000,0.074348,0.005697,0.014889,0.025236,0.019492,0.003917,0.032468,0.005011
long,0.042546,0.008999,0.074348,1.000000,0.000861,0.039639,0.069169,0.118598,0.015283,0.104154,0.058428
Construction year,0.001081,0.004871,0.005697,0.000861,1.000000,0.000486,0.001990,0.004092,0.004753,0.002745,0.008264
minimum nights,0.005668,0.002266,0.014889,0.039639,0.000486,1.000000,0.049997,0.096141,0.002167,0.084846,0.063541
number of reviews,0.041530,0.004503,0.025236,0.069169,0.001990,0.049997,1.000000,0.590939,0.018412,0.080907,0.099368
reviews per month,0.038038,0.001746,0.019492,0.118598,0.004092,0.096141,0.590939,1.000000,0.037526,0.025621,0.077193
review rate number,0.036633,0.003459,0.003917,0.015283,0.004753,0.002167,0.018412,0.037526,1.000000,0.024273,0.006217
calculated host listings count,0.024296,0.001722,0.032468,0.104154,0.002745,0.084846,0.080907,0.025621,0.024273,1.000000,0.159194
availability 365,0.139226,0.002044,0.005011,0.058428,0.008264,0.063541,0.099368,0.077193,0.006217,0.159194,1.000000

In [10]:
df.corr().loc['number of reviews']

id                               -0.041530
host id                          -0.004503
lat                              -0.025236
long                              0.069169
Construction year                 0.001990
minimum nights                   -0.049997
number of reviews                 1.000000
reviews per month                 0.590939
review rate number               -0.018412
calculated host listings count   -0.080907
availability 365                  0.099368
Name: number of reviews, dtype: float64

In [11]:
df.corr().loc['review rate number']

id                                0.036633
host id                           0.003459
lat                              -0.003917
long                              0.015283
Construction year                 0.004753
minimum nights                   -0.002167
number of reviews                -0.018412
reviews per month                 0.037526
review rate number                1.000000
calculated host listings count    0.024273
availability 365                 -0.006217
Name: review rate number, dtype: float64

In [12]:
df.corr().loc['reviews per month']

id                                0.038038
host id                          -0.001746
lat                              -0.019492
long                              0.118598
Construction year                 0.004092
minimum nights                   -0.096141
number of reviews                 0.590939
reviews per month                 1.000000
review rate number                0.037526
calculated host listings count   -0.025621
availability 365                  0.077193
Name: reviews per month, dtype: float64

In [13]:
df.columns.values

array(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy',
       'room type', 'Construction year', 'price', 'service fee',
       'minimum nights', 'number of reviews', 'last review',
       'reviews per month', 'review rate number',
       'calculated host listings count', 'availability 365',
       'house_rules', 'license'], dtype=object)

In [14]:
df.columns = map(str.lower, df.columns)

In [15]:
df.columns = df.columns.str.replace(' ', '_')

In [16]:
df.columns

Index(['id', 'name', 'host_id', 'host_identity_verified', 'host_name',
       'neighbourhood_group', 'neighbourhood', 'lat', 'long', 'country',
       'country_code', 'instant_bookable', 'cancellation_policy', 'room_type',
       'construction_year', 'price', 'service_fee', 'minimum_nights',
       'number_of_reviews', 'last_review', 'reviews_per_month',
       'review_rate_number', 'calculated_host_listings_count',
       'availability_365', 'house_rules', 'license'],
      dtype='object')

In [17]:
# To get percentage of Miss values in each column.
df.isnull().sum() * 100 /len(df)

id                                 0.000000
name                               0.243667
host_id                            0.000000
host_identity_verified             0.281679
host_name                          0.395715
neighbourhood_group                0.028265
neighbourhood                      0.015595
lat                                0.007797
long                               0.007797
country                            0.518524
country_code                       0.127682
instant_bookable                   0.102340
cancellation_policy                0.074075
room_type                          0.000000
construction_year                  0.208579
price                              0.240743
service_fee                        0.266084
minimum_nights                     0.398639
number_of_reviews                  0.178364
last_review                       15.490404
reviews_per_month                 15.476759
review_rate_number                 0.317742
calculated_host_listings_count     0.310919
availability_365                   0.436651
house_rules                       50.810437
license                           99.998051
dtype: float64

In [18]:
# To check number of unique values in Id column.
df['id'].unique().shape[0] / df['id'].unique().shape[0] * 100

100.0

In [19]:
df['host_id'].unique().shape[0] / df['host_id'].unique().shape[0] * 100

100.0

Most of these values in "Id" and " host_id" ​​are distinct for each line. I don't think it makes sense for analysis, so I'll delete them.

In [20]:
# To Drop this columns
df.drop(['id', 'host_id', 'license' ], axis=1, inplace=True)

In [21]:
df.head(2)

,name,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,country,country_code,instant_bookable,...,price,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules
0,Clean & quiet apt home by the park,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,...,$966,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...
1,Skylit Midtown Castle,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,False,...,$142,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...

In [22]:
# To count number of unique value
df['country_code'].value_counts()

US    102468
Name: country_code, dtype: int64

In [23]:
# To count number of unique value
df['country'].value_counts()

United States    102067
Name: country, dtype: int64

The 2 columns can be removed since they are not varying in values

In [24]:
# To Drop this columns
df.drop(['country_code', 'country'], axis=1, inplace=True)

In [25]:
# To check the dataframe
df.head(2)

,name,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,instant_bookable,cancellation_policy,room_type,...,price,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules
0,Clean & quiet apt home by the park,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,False,strict,Private room,...,$966,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...
1,Skylit Midtown Castle,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,False,moderate,Entire home/apt,...,$142,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...

T remove unneccasery character from Price and Sevice_fee columns

In [26]:
df['price'] = df['price'].str.replace('$', '').replace(' ','')
df['service_fee'] = df['service_fee'].str.replace('$', '').replace(' ','')

In [27]:
df.head(3)

,name,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,instant_bookable,cancellation_policy,room_type,...,price,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules
0,Clean & quiet apt home by the park,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,False,strict,Private room,...,966,193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...
1,Skylit Midtown Castle,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,False,moderate,Entire home/apt,...,142,28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...
2,THE VILLAGE OF HARLEM....NEW YORK !,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,True,flexible,Private room,...,620,124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and..."

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 21 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   name                            102349 non-null  object
 1   host_identity_verified          102310 non-null  object
 2   host_name                       102193 non-null  object
 3   neighbourhood_group             102570 non-null  object
 4   neighbourhood                   102583 non-null  object
 5   lat                             102591 non-null  float64
 6   long                            102591 non-null  float64
 7   instant_bookable                102494 non-null  object
 8   cancellation_policy             102523 non-null  object
 9   room_type                       102599 non-null  object
 10  construction_year               102385 non-null  float64
 11  price                           102352 non-null  object
 12  service_fee                     102326 non-null  object
 13  minimum_nights                  102190 non-null  float64
 14  number_of_reviews               102416 non-null  float64
 15  last_review                     86706 non-null   object
 16  reviews_per_month               86720 non-null   float64
 17  review_rate_number              102273 non-null  float64
 18  calculated_host_listings_count  102280 non-null  float64
 19  availability_365                102151 non-null  float64
 20  house_rules                     50468 non-null   object
dtypes: float64(9), object(12)
memory usage: 16.4+ MB

In [29]:
df['price'] = pd.factorize(df['price'])[0].astype(float)

In [30]:
df['service_fee'] = pd.factorize(df['service_fee'])[0].astype(float)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 21 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   name                            102349 non-null  object
 1   host_identity_verified          102310 non-null  object
 2   host_name                       102193 non-null  object
 3   neighbourhood_group             102570 non-null  object
 4   neighbourhood                   102583 non-null  object
 5   lat                             102591 non-null  float64
 6   long                            102591 non-null  float64
 7   instant_bookable                102494 non-null  object
 8   cancellation_policy             102523 non-null  object
 9   room_type                       102599 non-null  object
 10  construction_year               102385 non-null  float64
 11  price                           102599 non-null  float64
 12  service_fee                     102599 non-null  float64
 13  minimum_nights                  102190 non-null  float64
 14  number_of_reviews               102416 non-null  float64
 15  last_review                     86706 non-null   object
 16  reviews_per_month               86720 non-null   float64
 17  review_rate_number              102273 non-null  float64
 18  calculated_host_listings_count  102280 non-null  float64
 19  availability_365                102151 non-null  float64
 20  house_rules                     50468 non-null   object
dtypes: float64(11), object(10)
memory usage: 16.4+ MB

In [32]:
df['price']

0            0.0
1            1.0
2            2.0
3            3.0
4            4.0
           ...
102594     436.0
102595    1033.0
102596     789.0
102597     399.0
102598     227.0
Name: price, Length: 102599, dtype: float64

In [33]:
# To Drop this columns
df.drop(['house_rules'], axis=1, inplace=True)

In [35]:
df.sample(4)

,name,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,instant_bookable,cancellation_policy,room_type,construction_year,price,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365
50797,"Amazing W Village shared living space, prvt bdrm",unconfirmed,Jeff,Manhattan,West Village,40.73577,-74.00218,True,strict,Private room,2018.0,353.0,66.0,1.0,276.0,2/27/2022,4.77,2.0,1.0,143.0
49349,Very Clean Private Room Near Buses & Restauran...,unconfirmed,PengYu,Queens,Woodhaven,40.69411,-73.86877,False,strict,Private room,2015.0,921.0,204.0,1.0,0.0,NaN,NaN,3.0,2.0,365.0
5845,Nice room available in modern Apt.,unconfirmed,Ken,Brooklyn,Crown Heights,40.67009,-73.93290,True,flexible,Private room,2017.0,232.0,156.0,2.0,25.0,10/9/2016,0.43,2.0,3.0,387.0
100382,"Williamsburg, Ground Flr Apt with Private Back...",unconfirmed,Anthony,Brooklyn,Williamsburg,40.71615,-73.94797,False,flexible,Entire home/apt,2003.0,380.0,22.0,2.0,29.0,6/7/2019,0.93,3.0,1.0,82.0

In [36]:
df.shape

(102599, 20)

In [37]:
# To Check total number of Nulls value
df.isna().sum().sort_values(ascending= False)

last_review                       15893
reviews_per_month                 15879
availability_365                    448
minimum_nights                      409
host_name                           406
review_rate_number                  326
calculated_host_listings_count      319
host_identity_verified              289
name                                250
construction_year                   214
number_of_reviews                   183
instant_bookable                    105
cancellation_policy                  76
neighbourhood_group                  29
neighbourhood                        16
long                                  8
lat                                   8
room_type                             0
price                                 0
service_fee                           0
dtype: int64

In [39]:
# To Check total number of Nulls value
df.nunique().sort_values(ascending= False)

name                              61281
lat                               21991
long                              17774
host_name                         13190
last_review                        2477
price                              1152
reviews_per_month                  1016
number_of_reviews                   476
availability_365                    438
service_fee                         232
neighbourhood                       224
minimum_nights                      153
calculated_host_listings_count       78
construction_year                    20
neighbourhood_group                   7
review_rate_number                    5
room_type                             4
cancellation_policy                   3
host_identity_verified                2
instant_bookable                      2
dtype: int64

In [44]:
df.to_csv('a7a.csv', index=False)